# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dev
*.layout
*.win
Projekt 1/1/graph.dot
Projekt 1/1/input.txt
Projekt 2/1/output1.dot
Projekt 2/1/output2.dot
